.main-page-container {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: var(--page-grid-max-width);
  padding-left: var(--page-grid-outside-margins);
  padding-right: var(--page-grid-outside-margins);
  width: 100%;
}

.main-page-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow-wrap: normal;
}
