.item-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
  scrollbar-width: thin;
}

.item-list::-webkit-scrollbar {
  height: 8px;
}

.item-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.item-list::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Card styles */
.item-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
}

.link-item-card {
  text-decoration: none !important;
  color: inherit !important;
}

.link-item-card .item-title:hover {
  text-decoration: underline;
}

.link-item-card .item-price:hover {
  text-decoration: none;
}

/* Image container */
.item-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.item-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image fits the container */
}

/* Details section */
.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: left;
}

.item-title {
  font-size: 14px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit title to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}
